.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin {
  margin: 8px;
}

.centerBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.adminContainer {
  margin-top: 10px;
}

.syntchLogo {
  width: 100%;
}
