:root {
  --btn-color: #4f4aee;
}

.task-btn {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.selector {
display: flex;
}

.task-desc {
  max-width: 70vw;
  height: 7.5rem;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.task {
  width: 100vw;
  min-height: 8rem;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  /* background: rgb(40, 44, 52); */
  /* background: linear-gradient(
    90deg,
    rgba(40, 44, 52, 0.8) 5%,
    rgba(40, 44, 52, 0.95) 10%,
    rgba(40, 44, 52, 1) 20%,
    rgba(40, 44, 52, 1) 80%,
    rgba(40, 44, 52, 0.95) 90%,
    rgba(40, 44, 52, 0.8) 95%
  ); */
  /* border-radius: 5px; */
  margin: 0 auto;
  font-size: 0.8rem;
  /* overflow-wrap: break-word; */
  overflow-block: scroll;
}

.arrow {
  /* width: 0; */
  /* height: 0; */
  /* border-top: 10px solid transparent; */
  /* border-bottom: 10px solid transparent; */
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.arrow.prev {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--btn-color);
}

.prev.disabled {
  border-right: 10px solid grey;
}

.arrow.next {
  /* width: 0; */
  /* height: 0; */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--btn-color);
  /* cursor: pointer; */
}

.next.disabled {
  /* border-top: 10px solid transparent; */
  /* border-bottom: 10px solid transparent; */
  border-left: 10px solid grey;
}

.timers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.countdown {
  position: absolute;
  font-size: 2rem;
  /* opacity: 0; */
}

.timer {
  /* opacity: 0; */
  font-size: 1.2rem;
}

.timerMessage {
  position: absolute;
  opacity: 0;
}

.points span {
  font-weight: bold;
  color: #4f4aee;
}

.input {
  background-color: lightblue;
}

.invalid {
  background-color: #ff9999;
}

.wrongAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.wrongAnswer button {
  width: 3rem;
  height: fit-content;
  cursor: pointer;
}