/* Custom vs-dark theme with light text color */
.vs-dark {
  --foreground: #abb2bf;
  --comment: #b3bccd;
  --string: #98c379;
  --number: #d19a66;
  --keyword: #c678dd;
  --type: #e5c07b;
  --operator: #e54379;
  --background: #2b395b;
  --keyword:rgb(102, 214, 102);
}

.vs-dark .mtk1 {
  color: var(--comment) !important;
}

.vs-dark .mtk2 {
  color: var(--string) !important;
}

.vs-dark .mtk3 {
  color: var(--number) !important;
}

.vs-dark .mtk4 {
  color: var(--keyword) !important;
}

.vs-dark .mtk5 {
  color: var(--type) !important;
}

.vs-dark .mtk6 {
  color: var(--operator) !important;
}

.vs-dark .mtk7 {
  color: var(--foreground) !important;
}

/* .vs-dark .mtk8 {
  color: var(--keyword) !important;
} */

/* .vs-dark .mtk9 {
  color: var(--keyword) !important;
} */

/* .vs-dark {
  color: var(--background) !important;
} */
