.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal-main {
  background-color: #272727;
  box-shadow: 0 0 50px rgba(66, 65, 65, 0.5);
  width: 400px;
  height: 160px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal p {
  font-size: 1.2rem;
  color: aliceblue;
  margin: 0;
  padding: 5px;
}

.modal span {
  color: #59a9ff;
  font-size: 1.3rem;
}

.modal a {
  text-decoration: none;
  color: #f05dfd;
  font-size: 1.4rem;
}

.modalBtn {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.modal button {
  width: 6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal button:hover {
  background-color: #0062cc;
}
